{{#each model as |composer|}}
  <h3>
    {{composer.name}}

    <small>
      ({{composer.birthYear}} - {{composer.deathYear}})

      {{composer.musicalEra}}
    </small>
  </h3>

  <br>

  <table class="table table-striped">
    <tbody>
      {{#each composer.tabs as |tab|}}
        <tr>
          <td width="10%">
            {{fav-star id=tab.id}}

            <i class="fa {{difficulty-level tab.difficulty}}"></i>

            {{#if tab.midis}}
              {{#each tab.midis as |midiFile|}}
                <a href="midis/{{midiFile}}"></a>
                {{!-- {{midi-player file=midiFile}} --}}
              {{/each}}
            {{/if}}

            {{#if tab.videos}}
              {{#each tab.videos as |video|}}
                <a href="{{video.videoLink}}">
                  <i class="fa fa-youtube-play text-danger"></i>
                </a>
              {{/each}}
            {{/if}}
          </td>

          <td>
            {{tab-viewer tab=tab}}
          </td>

          <td width="12%">
            {{tuning-name tab.tuning}}
          </td>

          <td width="5%">
            {{tab.timeSignature}}
          </td>

          <td width="8%">
            {{tab.tempo}} bpm
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}
