{{#each model as |composer|}}
  <h3>{{composer.name}}</h3>

  <br>

  <table class="table table-striped">
    <tbody>
      {{#each composer.tabs as |tab|}}
        <tr>
          <td>
            {{tab.difficulty}}
          </td>

          <td width="70%">
            <a href="{{tab.tabFile}}">
              {{tab.name}}
            </a>
          </td>

          <td width="15%">
            {{tab.tuning}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}
